@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.logo-heading {
  font-family: "Mochiy Pop P One", cursive;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1.4rem;
}

h2, p {
  font-family: "Montserrat", sans-serif;
}
